
@import "./fonts.css";


.wrapper {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
	font-weight: 600;

}

.section-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 70px;
	padding-top: 95px;
}

.section-title {
	h3 {
		font-family: "Montserrat-Regular", sans-serif;
		font-size: 20px;
		color: #555;
		text-transform: uppercase;
		margin-bottom: 26px;
		line-height: 1.2;

	}
}

.section-title {
	& .title-decor {
		width: 50px;
		height: 2px;
		background-color: #555;
	}
}
.works {
	padding-bottom: 100px;
}

.works-list {
	display: flex;
	align-items: center;
	margin-top: 30px;

	& li {
		margin-left: 30px;
		list-style-type: none;
	}

	& a {
		font-family: "RobotoSlab-Regular", sans-serif;
		font-size: 14px;
		letter-spacing: 1px;
		color: #555;
		text-transform: capitalize;
		text-decoration: none;
		&:hover {
			color: #c0301c;
		}
	}
}

.works-wrapper {
	height: 1020px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;

}

.works-row {
	display: flex;
	justify-content: space-between;
}
